@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
    font-family: "Space Grotesk", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}
